.imageBackground {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.patternBackground {
    background-position: top;
    background-size: 250px;
    background-repeat: repeat;
}