@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fafafa;
  /* background-image: url("/assets/bkg/brick.jpg"); */
  background-size: 250px;
  background-repeat: repeat;
}

:root::-webkit-scrollbar{
  display: none;
}

:root {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

h1 {
  @apply text-2xl font-bold;
}
h2 {
  @apply text-xl font-semibold;
}
strong {
  @apply font-bold;
}
ol {
  @apply list-decimal list-inside;
}
li {
  @apply mb-2;
}
.ql-align-center {
  @apply text-center;
}